:root{
    --azul:rgb(3, 129, 138);
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base */
body{
    background: var(--preta);
    font-family: 'Arial', Arial, Times, serif;
    color: #fff;
}


header .container{
    position: absolute
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

header .logo{
    margin-left: 5px;
    color: var(--azul);
    font-family:'Arial Black',Arial Bold,sans-serif, Times; 
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}
