:root {
    --azul: rgb(3, 129, 138);
    --preta: #141414;
    --fogo: rgb(207, 142, 43);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* elementos base */
  body {
    padding: 5px;
    background: var(--preta);
    justify-content: center;
    font-family: 'Arial', Arial, Times, serif;
    color: #fff;
  }
  
  header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #141414;
  }
  
  header .logo {
    margin-left: 5px;
    color: var(--azul);
    font-family: 'Arial Black', Arial Bold, sans-serif, Times;
    font-size: 40px;
  }
  
  header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
  }
  
  header nav a:hover {
    color: #fff;
  }
  
  .jogo-principal {
    height: 4550px;
    margin: 10px;
    background: linear-gradient(
        rgba(9, 54, 177, 0.966),
        rgba(0, 0, 0, 0.5) 100%
      ),
      url('../img/giwr.jpg') no-repeat center top fixed;
  }
  
  .titulo {
    color: var(--fogo);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: -1px -1px 0px #FFF, -1px 1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px #FFF;
  }
  
  main .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .descricao {
    text-align: center;
  width: 100%;
  max-width: 1200px;
  /* Adiciona uma margem lateral para os elementos */
  margin: 13px;
  /* Coloca o conteúdo dentro das bordas */
  padding: 20px;
  }
  
  p {
    text-align: center;
    padding: 20px;
    width: 1200px;
    height: 170px;
  }
  
  h2 {
    padding: 20px;
    width: 1100px;
    height: 30px;
    margin: 20px;
  }
  
  h3 {
    padding: 20px;
    width: 1100px;
    height: 10px;
    margin: 50px;
  }

.historia{
    border: 3px solid #fff; 
    text-align: center;
    width: 100%;
    max-width: 1200px;
    /* Adiciona uma margem lateral para os elementos */
    margin: 40px;
    /* Coloca o conteúdo dentro das bordas */
    padding: 20px;   
}

.jogabilidade{
    border: 3px solid #fff;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    /* Adiciona uma margem lateral para os elementos */
    margin: 40px;
    /* Coloca o conteúdo dentro das bordas */
    padding: 40px;
}

.personagens{
    border: 3px solid #fff;
    padding: 60px;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    /* Adiciona uma margem lateral para os elementos */
    margin: 40px;
    /* Coloca o conteúdo dentro das bordas */
    }

.desenvolvimento{
    border: 3px solid #fff;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    /* Adiciona uma margem lateral para os elementos */
    margin: 40px;
    /* Coloca o conteúdo dentro das bordas */
    padding: 40px;
}

.recepcao{
    border: 3px solid #fff;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    /* Adiciona uma margem lateral para os elementos */
    margin: 40px;
    /* Coloca o conteúdo dentro das bordas */
    padding: 50px;
    }
    


.texto{
    justify-content: center;
}

.div2{
    text-align: center;
    padding: 20px;
    width:1200px;
    height:470px;
    margin: 40px;
    border: 3px solid #fff;
}

.div3{
    text-align: center;
    padding: 20px;
    width:1200px;
    margin: 40px;
    height:450px;
    margin: 40px;
    border: 3px solid #fff;
}

.div4{
    text-align: center;
    padding: 20px;
    width:1210px;
    margin: 40px;
    height:450px;
    border: 3px solid #fff;
}

.div5{
    text-align: center;
    padding: 20px;
    width:1200px;
    margin: 40px;
    height:570px;
    border: 3px solid #fff;
    
}

.div6{
    text-align: center;
    padding: 20px;
    margin: 40px;
    width:1200px;
    height:570px;
    border: 3px solid #fff;
}


.standard{
    display: inline-block;
    float: left;
    margin: 40px
    
}

.launch{
    width: 700px;
    height: 400px;
    margin: 0;
   float: left;
}

.digital{
    width: 700px;
    height: 400px;
    margin: 0;

    display: inline-block;
    float: left;
}

.colecionador{
    width: 700px;
    height: 400px;
    margin: 0;
    display: inline-block;
    float: left;
    
}

.jotnar{
    width: 700px;
    height: 400px;
    margin: 0;
    display: inline-block;
    float: left;
}

.h2{
    text-align: center;
    padding: 60px;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 70px;
    }

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: rgb(255, 255, 255);
  }
