
:root{
    --azul:rgb(3, 129, 138);
    --preta:#141414;
    --fogo:rgb(207, 142, 43);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*elementos base */
body{
    padding: 5px;
    background: var(--preta);
    font-family: 'Arial', Arial, Times, serif;
    color: #fff;
    
}


header .container{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    background: #141414;
    
}

header .logo{
    margin-left: 5px;
    color: var(--azul);
    font-family:'Arial Black',Arial Bold,sans-serif, Times; 
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}


.jogo-principal{
    
    background: linear-gradient(rgba(9, 54, 177, 0.966),rgba(0,0,0,.50)100%), url('../img/giwr.jpg') no-repeat center top fixed;
    
}

.titulo{
    color: var(--fogo);
    display: flex;
    flex-direction:  row;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: -1px -1px 0px #FFF, 
        -1px 1px 0px #FFF,                    
         1px -1px 0px #FFF,                  
         1px 0px 0px #FFF;
    
}

main .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 40px; 
    justify-content: center;
    align-items: center;
    
    
}

.descricao{
    text-align: center;
    padding: 20px;
    width:1200px;
    height:150px;
    
}
